@import url(https://fonts.googleapis.com/css?family=Work+Sans:400,600);



body {
    margin: 0;
    padding: 0;
}

nav {
    background: silver;
    padding: 0px;
    margin: 0;
    display: flex;
}

h1 {
    color: white;
    margin-left: 30px;
    padding-top: 11px;
    font-weight: lighter;
    font-size: xx-large;
}

.nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    
}

.nav li {
    display: inline-flex;
}

.nav a {
    color: white;
    width: 120px;
    text-decoration: none;
    font-size: 20px;
    text-transform: uppercase;
    padding: 32px 15px;
}

.nav a:hover {
    color: black;
}

img {
    size-adjust: 10%
}


@media only screen and (max-width: 786px) {

}